body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    background-image: url('fondolibros2.jpg'); /* Reemplaza 'nombre_de_tu_imagen.jpg' con la ruta correcta de tu imagen */
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el fondo */
    background-repeat: no-repeat; /* Evita la repetición de la imagen de fondo */
    background-attachment: fixed; /* Fija la imagen de fondo en su posición */
    background-position: center; /* Centra la imagen de fondo */
}



.fondo{
    background-color: #007acc;

    
}
header {
    background-color: #007acc;
    color: white;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
}

nav a:hover {
    text-decoration: underline;
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 24px;
    color: #fff;
}

p {
    font-size: 16px;
    line-height: 1.5;
}