/* Estilo para el cuerpo de la página */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
  }
  
  /* Estilo para la cabecera (header) */
  header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
  }
  
  /* Estilo para la barra de navegación (nav) */
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #fff;
  }
  
  /* Estilo para el formulario */
  form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    margin: 20px;
  }
  
  form label {
    display: block;
    margin: 10px 0;
    font-weight: bold;
  }
  
  form input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  form input[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* Estilo para el botón de regreso */
  .button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
  }
  
  /* Estilo para la tabla */
  table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px;
    background-color: #fff;
  }
  
  table th, table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
  }
  
  table th {
    background-color: #333;
    color: #fff;
  }
  
  /* Estilo para las filas impares de la tabla */
  table tr:nth-child(odd) {
    background-color: #f2f2f2;
  }